@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*          outShortBreak          */
  .outShortBreak {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    .shortBreakMain {
      width: 1140px;
      display: flex;
      justify-content: space-between;
    }
  }

  //      outFoursome
  .outFoursome {
    width: 100%;
    display: flex;
    justify-content: center;
    .foursome-main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 1140px;
      height: 300px;
    }
  }

  //          .outTopSome
  .outTopSome {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .mainTopSome {
      width: 1140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  /*     WordImage           */
  .outWordImage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .wordImageMain {
      width: 1140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


//           carousel  
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  border: 1px solid #232323;
  background-color: #232323;
  padding: 5px 10px;
  &:hover{
    border: 1px solid #232323;
    background-color: #232323;;
  }
}

.span-sale.red-cl{
  color: red !important;
}
.span-sale.green-cl{
  color: green !important;
}
.span-sale.black-cl{
  color: black !important;
}
.span-sale.darkblue-cl{
  color: darkblue !important;
}
.span-sale.yellow-cl{
  color: yellow !important;
}
.button-shop-now.red-bg{
  &:hover{
    background-color: red !important;
  }
}
.button-shop-now.black-bg{
  &:hover{
    background-color: black !important;
  }
}
.button-shop-now.green-bg{
  &:hover{
    background-color: green !important;
  }
}
.button-shop-now.darkblue-bg{
  &:hover{
    background-color: darkblue !important;
  }
}
.button-shop-now.yellow-bg{
  &:hover{
    background-color: yellow !important;
  }
}

