.header-out{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}