*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-phon.red-bg{
    &:hover{
        background: rgba(255, 0, 0, 0.486) !important;
    }
}

.background-phon.green-bg{
    &:hover{
        background: rgba(0, 128, 0, 0.496) !important;
    }
}
.background-phon.black-bg{
    &:hover{
        background: rgba(0, 0, 0, 0.493)!important;
    }
}
.background-phon.darkblue-bg{
    &:hover{
        background: rgba(0, 0, 139, 0.508) !important;
    }
}
.background-phon.yellow-bg{
    &:hover{
        background: rgba(255, 255, 0, 0.485) !important;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;900&display=swap");
 .main-img{
    overflow: hidden;
    width: 555px;
    height: 190px;
    .image{
        background-image:url(../LeftBlock/img/banner1.png);
        background-size: 120%;
        background-repeat: no-repeat;
        transition: all 0.5s;
        background-position: 50% 50%;

        &:hover{
            background-size: 140%;
        }
        .background-phon{
            width: 555px;
            height: 190px;
            padding: 15px;
            &:hover{
                background: #00b16a62;
            }
        .content{
            border: 1px solid #e9e9e9;
            width: 100%;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin-right: 40px;

            padding: 15px 17px;
            p{
                letter-spacing: 0.8px;
                color: #232323;
                text-transform: uppercase;
                font-size: 14px;
                background: #ffffffbb  ;
                font-family: 'Rubik';
                font-weight: 600;
                backdrop-filter: 0.7;
                margin-top: 2px;
                padding: 8px;
            }
            button{
                color: #fff;
                background:#232323;
                padding: 7px 22px;
                border: none;
                font-family: 'Rubik';
                font-size: 14px;
                margin-top: 10px;
                font-weight: 600;
                &:hover{
                    background-color: #00b16a;
                }
            }
            &:hover{
                button{
                    animation: scale 0.2s linear;
                }
            }
        }

        @keyframes scale {
        0%{
            transform: scale(1);
        }     
        100%{
            transform: scale(1.05);
        }       
        }
    }
}
 }

